body{
	color: black;
	text-align: center;
animation-name:bgChange;
animation-duration:1s;
animation-timing-function:linear;
animation-iteration-count: infinite;
animation-play-state: running;
}
@keyframes bgChange {
0%,49.99% , 100% {
background: #1c03ff;
}
50%, 99.99%{
background: #ff0000;
}
}
}
