body{
	color: black;
	text-align: center;
animation-name:bgChange;
animation-duration:1s;
animation-timing-function:linear;
animation-iteration-count: infinite;
animation-play-state: running;
background: yellow;
}
